!.env.example
*.code-workspace
*.log
*.tgz
.cache
.DS_Store
.env
.env.*
.idea
.temp
.vite_opt_cache
.vscode
/coverage
/src/client/shared.ts
/src/node/shared.ts
cache
dist
examples-temp
node_modules
pnpm-global
src/.temp
src/assets/style/sandbox.styl
temp
TODOs.md
