// Assign theme color
$themeColor = #ffcc4d

.page-tachiyomi-az {
  .VPHero {
    h1 {
      .clip {
        --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--vp-c-brand) 30%, var(--vp-c-brand-dark))
      }
    }
  }

  .VPButton {
    &.brand {
      border-color: var(--vp-button-brand-border)
      color: var(--vp-button-brand-text)
      background-color: var(--vp-button-brand-bg)
    }
  }

  .image-bg {
    display: none
  }

  ::selection {
    background: alpha($themeColor, 0.2)
  }
}


/**
 * Colors
 * -------------------------------------------------------------------------- */

:root .page-tachiyomi-az {
  --vp-c-brand: $themeColor
  --vp-c-brand-light: tint($themeColor, 20%)
  --vp-c-brand-lighter: tint($themeColor, 40%)
  --vp-c-brand-lightest: tint($themeColor, 60%)
  --vp-c-brand-dark: shade($themeColor, 25%)
  --vp-c-brand-darker: shade($themeColor, 50%)
  --vp-c-brand-darkest: shade($themeColor, 75%)
  --vp-c-brand-dimm: alpha($themeColor, 0.08)
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root .page-tachiyomi-az {
  --vp-button-brand-border: var(--vp-c-brand-light)
  --vp-button-brand-text: var(--vp-c-black)
  --vp-button-brand-bg: var(--vp-c-brand)
  --vp-button-brand-hover-border: var(--vp-c-brand-light)
  --vp-button-brand-hover-text: var(--vp-c-black)
  --vp-button-brand-hover-bg: var(--vp-c-brand-light)
  --vp-button-brand-active-border: var(--vp-c-brand-light)
  --vp-button-brand-active-text: var(--vp-c-black)
  --vp-button-brand-active-bg: var(--vp-button-brand-bg)
}

/**
 * Component: Dumb
 * -------------------------------------------------------------------------- */
@font-face {
  font-family: 'Comic Sans MS'
  src: url('//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot')
  src: url('//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot?#iefix') format('embedded-opentype'), url('//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff2') format('woff2'), url('//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff') format('woff'), url('//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.ttf') format('truetype'), url('//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.svg#Comic Sans MS') format('svg')
}

.azContainer {
  width: 100%
  overflow: hidden

  .azMarquee {
    display: inline-block
    overflow: hidden
    white-space: nowrap
    animation: marquee 10s linear infinite
    padding-left: 100%

    .azWiggleText {
      padding: 2em
      width: fit-content
      animation: wiggleAnimation 1s ease-out infinite

      &:hover {
        animation: barrelRollAnimation 0.6s
      }

      .azText {
        font-family: 'Comic Sans MS', 'Comic Sans', cursive
        font-size: 2em
        display: inline-block
        -webkit-text-stroke: 1px black
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
        animation: rainbowTextColorAnimation 0.5s linear infinite, scaleXTextAnimation 2s infinite
      }
    }
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0)
  }

  100% {
    transform: translate(-100%, 0)
  }
}

@keyframes barrelRollAnimation {
  from {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}

@keyframes wiggleAnimation {
  0% {
    transform: rotate(0)
  }

  25% {
    transform: rotate(-15deg)
  }

  50% {
    transform: rotate(0)
  }

  75% {
    transform: rotate(15deg)
  }

  100% {
    transform: rotate(0)
  }
}

@keyframes scaleXTextAnimation {
  0% {
    transform: scaleX(0.5) scaleY(0.5)
  }

  50% {
    transform: scaleX(1) scaleY(1)
  }

  100% {
    transform: scaleX(0.5) scaleY(0.5)
  }
}

@keyframes rainbowTextColorAnimation {
  0% {
    color: hsl(0, 100%, 50%)
  }

  10% {
    color: hsl(36, 100%, 50%)
  }

  20% {
    color: hsl(72, 100%, 50%)
  }

  30% {
    color: hsl(108, 100%, 50%)
  }

  40% {
    color: hsl(144, 100%, 50%)
  }

  50% {
    color: hsl(180, 100%, 50%)
  }

  60% {
    color: hsl(216, 100%, 50%)
  }

  70% {
    color: hsl(252, 100%, 50%)
  }

  80% {
    color: hsl(288, 100%, 50%)
  }

  90% {
    color: hsl(324, 100%, 50%)
  }

  100% {
    color: hsl(360, 100%, 50%)
  }
}
