// Assign theme color
$themeColor = #ce2828

.page-tachiyomi-sy {
  .VPHero {
    h1 {
      .clip {
        --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--vp-c-brand) 30%, var(--vp-c-brand-dark))
      }
    }
  }

  .VPButton {
    &.brand {
      border-color: var(--vp-button-brand-border)
      color: var(--vp-button-brand-text)
      background-color: var(--vp-button-brand-bg)
    }
  }

  .image-bg {
    display: none
  }

  ::selection {
    background: alpha($themeColor, 0.2)
  }
}


/**
 * Colors
 * -------------------------------------------------------------------------- */

:root .page-tachiyomi-sy {
  --vp-c-brand: $themeColor
  --vp-c-brand-light: tint($themeColor, 20%)
  --vp-c-brand-lighter: tint($themeColor, 40%)
  --vp-c-brand-lightest: tint($themeColor, 60%)
  --vp-c-brand-dark: shade($themeColor, 25%)
  --vp-c-brand-darker: shade($themeColor, 50%)
  --vp-c-brand-darkest: shade($themeColor, 75%)
  --vp-c-brand-dimm: alpha($themeColor, 0.08)
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root .page-tachiyomi-sy {
  --vp-button-brand-border: var(--vp-c-brand-light)
  --vp-button-brand-text: var(--vp-c-white)
  --vp-button-brand-bg: var(--vp-c-brand)
  --vp-button-brand-hover-border: var(--vp-c-brand-light)
  --vp-button-brand-hover-text: var(--vp-c-white)
  --vp-button-brand-hover-bg: var(--vp-c-brand-light)
  --vp-button-brand-active-border: var(--vp-c-brand-light)
  --vp-button-brand-active-text: var(--vp-c-white)
  --vp-button-brand-active-bg: var(--vp-button-brand-bg)
}
