.image-bg {
	display: none;
}

:root {
    --vp-c-brand: #ff6884;
    --vp-c-brand-light: #ff8aa1;
    --vp-c-brand-lighter: #ffa7b8;
    --vp-c-brand-lightest: #ffc5d0;
    --vp-c-brand-dark: #b2485c;
    --vp-c-brand-darker: #652934;
    --vp-c-brand-dimm: rgba(255, 109, 137, 0.08);

	--vp-button-brand-text: var(--vp-c-black);
	--vp-button-brand-hover-text: var(--vp-c-black);
	--vp-button-brand-active-text: var(--vp-c-black);

    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--vp-c-brand) 30%, var(--vp-c-brand-dark));
    --vp-home-hero-image-background-image: linear-gradient(-45deg, var(--vp-c-brand) 50%, var(--vp-c-brand-dark) 50%);
}

::selection {
	background: rgba(255, 109, 137, 0.2);
}
