.page-neko .image-bg {
	display: none;
}

.page-neko ::selection {
	background: rgba(255, 109, 137, 0.2);
}

/**
 * Colors
 * -------------------------------------------------------------------------- */

 :root .page-neko  {
    --vp-c-brand: #ff6884 !important;
	--vp-c-brand-light: #ff8da2;
	--vp-c-brand-lighter: #ffb3c1;
	--vp-c-brand-lightest: #ffd9e0;
	--vp-c-brand-dark: #bf4e63;
	--vp-c-brand-darker: #7f3442;
	--vp-c-brand-darkest: #3f1a21;
    --vp-c-brand-dimm: rgba(255, 109, 137, 0.08);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root .page-neko  {
	--vp-button-brand-text: var(--vp-c-black);
	--vp-button-brand-hover-text: var(--vp-c-black);
	--vp-button-brand-active-text: var(--vp-c-black);
}
