.page-tachiyomiaz .image-bg {
	display: none;
}

.page-tachiyomiaz ::selection {
	background: rgba(255, 204, 77, 0.2);
}

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root .page-tachiyomiaz {
    --vp-c-brand: #ffcc4d;
	--vp-c-brand-light: #ffd879;
	--vp-c-brand-lighter: #ffe5a6;
	--vp-c-brand-lightest: #fff2d2;
	--vp-c-brand-dark: #bf9939;
	--vp-c-brand-darker: #7f6626;
	--vp-c-brand-darkest: #3f3313;
    --vp-c-brand-dimm: rgba(255, 204, 77, 0.08);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root .page-tachiyomiaz {
	--vp-button-brand-text: var(--vp-c-black);
	--vp-button-brand-hover-text: var(--vp-c-black);
	--vp-button-brand-active-text: var(--vp-c-black);
}
