.page-tachiyomiaz .image-bg {
	display: none;
}

.page-tachiyomiaz ::selection {
	background: rgba(255, 204, 77, 0.2);
}

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root .page-tachiyomiaz {
	--vp-c-brand: #ffcc4d;
	--vp-c-brand-light: #ffd879;
	--vp-c-brand-lighter: #ffe5a6;
	--vp-c-brand-lightest: #fff2d2;
	--vp-c-brand-dark: #bf9939;
	--vp-c-brand-darker: #7f6626;
	--vp-c-brand-darkest: #3f3313;
	--vp-c-brand-dimm: rgba(255, 204, 77, 0.08);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root .page-tachiyomiaz {
	--vp-button-brand-text: var(--vp-c-black);
	--vp-button-brand-hover-text: var(--vp-c-black);
	--vp-button-brand-active-text: var(--vp-c-black);
}

/**
 * Component: Dumb
 * -------------------------------------------------------------------------- */

@font-face {
	font-family: "Comic Sans MS";
	src: url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot");
	src:
		url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot?#iefix") format("embedded-opentype"),
		url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff2") format("woff2"),
		url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff") format("woff"),
		url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.ttf") format("truetype"),
		url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.svg#Comic Sans MS") format("svg");
}
.azContainer {
	width: 100%;
	overflow: hidden;
}
.azContainer .azMarquee {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	animation: marquee 10s linear infinite;
	padding-left: 100%;
}
.azContainer .azMarquee .azWiggleText {
	padding: 2em;
	width: fit-content;
	animation: wiggleAnimation 1s ease-out infinite;
}
.azContainer .azMarquee .azWiggleText:hover {
	animation: barrelRollAnimation 0.6s;
}
.azContainer .azMarquee .azWiggleText .azText {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-size: 2em;
	display: inline-block;
	-webkit-text-stroke: 1px #000;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	animation:
		rainbowTextColorAnimation 0.5s linear infinite,
		scaleXTextAnimation 2s infinite;
}
@-moz-keyframes marquee {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}
@-webkit-keyframes marquee {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}
@-o-keyframes marquee {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}
@keyframes marquee {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}
@-moz-keyframes barrelRollAnimation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes barrelRollAnimation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@-o-keyframes barrelRollAnimation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes barrelRollAnimation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@-moz-keyframes wiggleAnimation {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-15deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@-webkit-keyframes wiggleAnimation {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-15deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@-o-keyframes wiggleAnimation {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-15deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@keyframes wiggleAnimation {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-15deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@-moz-keyframes scaleXTextAnimation {
	0% {
		transform: scaleX(0.5) scaleY(0.5);
	}
	50% {
		transform: scaleX(1) scaleY(1);
	}
	100% {
		transform: scaleX(0.5) scaleY(0.5);
	}
}
@-webkit-keyframes scaleXTextAnimation {
	0% {
		transform: scaleX(0.5) scaleY(0.5);
	}
	50% {
		transform: scaleX(1) scaleY(1);
	}
	100% {
		transform: scaleX(0.5) scaleY(0.5);
	}
}
@-o-keyframes scaleXTextAnimation {
	0% {
		transform: scaleX(0.5) scaleY(0.5);
	}
	50% {
		transform: scaleX(1) scaleY(1);
	}
	100% {
		transform: scaleX(0.5) scaleY(0.5);
	}
}
@keyframes scaleXTextAnimation {
	0% {
		transform: scaleX(0.5) scaleY(0.5);
	}
	50% {
		transform: scaleX(1) scaleY(1);
	}
	100% {
		transform: scaleX(0.5) scaleY(0.5);
	}
}
@-moz-keyframes rainbowTextColorAnimation {
	0% {
		color: #f00;
	}
	10% {
		color: #f90;
	}
	20% {
		color: #cf0;
	}
	30% {
		color: #3f0;
	}
	40% {
		color: #0f6;
	}
	50% {
		color: #0ff;
	}
	60% {
		color: #06f;
	}
	70% {
		color: #30f;
	}
	80% {
		color: #c0f;
	}
	90% {
		color: #f09;
	}
	100% {
		color: #f00;
	}
}
@-webkit-keyframes rainbowTextColorAnimation {
	0% {
		color: #f00;
	}
	10% {
		color: #f90;
	}
	20% {
		color: #cf0;
	}
	30% {
		color: #3f0;
	}
	40% {
		color: #0f6;
	}
	50% {
		color: #0ff;
	}
	60% {
		color: #06f;
	}
	70% {
		color: #30f;
	}
	80% {
		color: #c0f;
	}
	90% {
		color: #f09;
	}
	100% {
		color: #f00;
	}
}
@-o-keyframes rainbowTextColorAnimation {
	0% {
		color: #f00;
	}
	10% {
		color: #f90;
	}
	20% {
		color: #cf0;
	}
	30% {
		color: #3f0;
	}
	40% {
		color: #0f6;
	}
	50% {
		color: #0ff;
	}
	60% {
		color: #06f;
	}
	70% {
		color: #30f;
	}
	80% {
		color: #c0f;
	}
	90% {
		color: #f09;
	}
	100% {
		color: #f00;
	}
}
@keyframes rainbowTextColorAnimation {
	0% {
		color: #f00;
	}
	10% {
		color: #f90;
	}
	20% {
		color: #cf0;
	}
	30% {
		color: #3f0;
	}
	40% {
		color: #0f6;
	}
	50% {
		color: #0ff;
	}
	60% {
		color: #06f;
	}
	70% {
		color: #30f;
	}
	80% {
		color: #c0f;
	}
	90% {
		color: #f09;
	}
	100% {
		color: #f00;
	}
}
