@font-face {
	font-family: "Material Icons";
	font-style: normal;
	font-weight: 400;
	src: url("~material-design-icons/iconfont/MaterialIcons-Regular.eot");
	src: local('Material Icons'), 
		 local('MaterialIcons-Regular'),
		 url("~material-design-icons/iconfont/MaterialIcons-Regular.woff2") format("woff2"),
		 url("~material-design-icons/iconfont/MaterialIcons-Regular.woff") format("woff"),
		 url("~material-design-icons/iconfont/MaterialIcons-Regular.ttf") format("truetype"),
		 url("~material-design-icons/iconfont/MaterialIcons-Regular.svg#MaterialIcons-Regular") format("svg");
}

@font-face {
	font-family: "Material Design Icons";
	src: url("~@mdi/font/fonts/materialdesignicons-webfont.eot");
	src: local('Material Design Icons'), 
		 local('Material-Design-Icons'),
		 url("~@mdi/font/fonts/materialdesignicons-webfont.woff2") format("woff2"),
		 url("~@mdi/font/fonts/materialdesignicons-webfont.woff") format("woff"),
		 url("~@mdi/font/fonts/materialdesignicons-webfont.ttf") format("truetype");
}
