// Custom rules
user-select()
	-webkit-user-select arguments
	-moz-user-select arguments
	-ms-user-select arguments
	user-select arguments

font-feature-settings()
	-webkit-font-feature-settings arguments
	-moz-font-feature-settings arguments
	-ms-font-feature-settings arguments
	font-feature-settings arguments

// Background color
html,
body,
.theme-container
	background-color #fdfdfd

// Custom block containers
.custom-block
	&.tip
	&.warning
	&.error
	&.danger
		border-radius $containerBorderRadius
	&.aside
		color transparentify($textColor, 0.4)
		font-size 0.9rem
		text-align right
	&.aside-guide
		font-size 0.9rem
		text-align left
		p
			margin-top: 0
		a
			color $accentColorSecondary

// Guide container
.guide
	background-color $containerBackgroundColor
	border-radius $containerBorderRadius
	margin 1rem 0
	padding 0.1rem 1.5rem
	.title
		font-weight bold

// Expander container
.expander
	background-color $containerBackgroundColor
	border-radius $containerBorderRadius
	margin 1rem 0
	padding 1rem 1.5rem
	.expansion
		user-select none
		font-weight bold
		&:focus
			outline none

// File tree
.file-tree
	font-family $codeFontFamily
	font-size 0.85rem
	list-style none
	padding 0
	li
	ul
		position relative
	li
		font-weight bold
		margin 0
		padding-left 1rem
		&.file
			font-weight normal
		&::before
		&::after
			content ""
			left 0
			position absolute
		&::before
			border-top 1px solid #000000
			height 0
			top 0.7em
			width 0.5em
		&:last-child::after
			height 0.7em
		&::after
			border-left 1px solid #000000
			height 100%
			top 0
			width 0
	ul
		list-style none
		margin-left 1em
		padding 0
	& > li:first-child::before
	& > li:first-child::after
		content none

.side-by-side
	align-content middle
	display flex
	justify-content center
	& > *
		width 50%
	& > * + *
		border-left 1px solid #aaaaaa
	@media (max-width: $MQMobile)
		flex-direction column
		& > *
			width 100%
		& > * + *
			border-left none
			border-top 1px solid #aaaaaa
			margin-top 0
			padding-top 1em

// Badge styling
.badge
	&.default-indicator
		background-color $accentColor !important
	&.version-indicator
		background-color $badgeVersionColor !important

// Navbar Changes
.navbar
	.site-name.can-hide
		/* Display navbar-name even for small screens */
		@media (max-width: $MQMobile)
			display inherit

// Page Header Logo
.headerLogo
	vertical-align middle
	height 3rem
	margin-bottom .625rem

// Fork pages

.Neko
	.theme-default-content a
		color darken($nekoAccentColor, 25%)
	.page-edit .edit-link a,
	.page-edit .last-updated .prefix
		color darken($nekoAccentColor, 40%)

.TachiyomiAZ
	.theme-default-content a,
	.page-edit .edit-link a,
	.page-edit .last-updated .prefix
		color darken($azAccentColor, 40%)

.TachiyomiSY
	.theme-default-content a
		color darken($syAccentColor, 25%)
	.page-edit .edit-link a,
	.page-edit .last-updated .prefix
		color darken($syAccentColor, 40%)

@media (min-width 764px)
	.Neko
		.nav-item > a:not(.external):hover,
		.nav-item > a:not(.external).router-link-active
			border-bottom 2px solid $nekoAccentColor

	.TachiyomiAZ
		.nav-item > a:not(.external):hover,
		.nav-item > a:not(.external).router-link-active
			border-bottom 2px solid $azAccentColor

// Center align class
.centered
	text-align center

// Bold class
.bold
	font-weight bold

// Hotfix Mobile Dropdown
.sidebar .dropdown-wrapper .dropdown-title
	pointer-events auto

// Fix weird header spacing
.theme-default-content:not(.custom) >
	h2,
	h3
		margin-bottom .2rem !important

.el-collapse,
.el-tabs,
.el-alert,
.el-button,
.el-tag
	margin-top 0.8rem !important

// Fix Element-UI styling
.el-divider__text,
.el-step__icon
	background-color $backgroundColor !important

.el-collapse-item__header
	background-color transparent !important
	border-bottom 1px solid $borderColor
	padding-left 10px
	&.is-active
		color $elementAccentColor
	&:not(.is-active):hover
		color $elementAccentColor

.el-collapse-item__wrap
	background-color transparent !important

.el-collapse-item__content
	padding-left 10px
