// Colors
$accentColor = #2E84BF
$accentColorSecondary = #476582
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = $accentColor
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$badgeVersionColor = #000000
$containerBackgroundColor = #f0f4f8
$backgroundColor = #FDFDFD
// Layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 46.25rem
$homePageWidth = 70rem
$heroImageHeight = 8rem
$containerBorderRadius = 0.4rem
$buttonBorderRadius = 0.25rem
// Responsive breakpoints
$MQNarrow = 959px
$MQMobile = 767px
$MQMobileNarrow = 419px
// Fonts
$buttonFontFamily = "Open Sans", Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
$codeFontFamily = source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
// Forks
$nekoAccentColor = #3DDA83
$j2kAccentColor = $accentColor
$azAccentColor = #FFCC4D
$ehAccentColor = $accentColor
$syAccentColor = #BE0F6E
// Links
$discordAccentColor = #7289DA
$redditAccentColor = #FF5700
$githubAccentColor = #333333
// Element-UI
$elementAccentColor = #409EFF
