// Colors
$accentColor = #2E84BF
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = $accentColor
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$badgeVersionColor = #000000
$containerBackground = #f0f4f8

// Layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 46.25rem
$homePageWidth = 60rem

// Responsive breakpoints
$MQNarrow = 959px
$MQMobile = 767px
$MQMobileNarrow = 419px
