.tree {
	border-radius: 8px;
	margin: 16px;
	padding: 16px;
	color: var(--vp-code-block-color);
	background-color: var(--vp-code-block-bg);
	font-family: "Roboto Mono", monospace;
	font-size: 0.85rem;
	line-height: 1.5;
}

.tree > ul {
	margin: 0;
}

.tree li + li {
	margin-top: 0;
}

.tree span.folder.main {
	color: var(--vp-c-brand) !important;
}

.tree span.folder,
.tree span.file.zip {
	color: var(--vp-c-brand-lighter) !important;
}

.tree ul {
	padding-left: 5px;
	list-style: none;
}

.tree ul li {
	position: relative;
	padding-left: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tree ul li:before {
	top: 15px;
	left: 0;
	width: 10px;
	height: 1px;
	margin: auto;
}

.tree ul li:after {
	top: 0;
	bottom: 0;
	left: 0;
	width: 1px;
	height: 100%;
}

.tree ul li:before,
.tree ul li:after {
	position: absolute;
	content: "";
	background-color: var(--vp-c-code-dimm);
}

.tree ul li:last-child:after {
	height: 15px;
}

.tree-icon {
	height: 12px;
	width: 12px;
	margin-right: 6px;
	display: inline-block;
}
